@page
@model IndexModel
@{
    ViewData["Title"] = "Who are you?";
}
<h1>Who are you?</h1>

@foreach (Player player in Model.Players)
    {
<a href="lobby?userId=@player.userId" style="display:block; margin: 5px 5px 5px 0px">@player.name</a>
    }
